#header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 33px;
  font-weight: 700;
  color: var(--color-primary);
}

.heroText {
  color: var(--color-primary-variant) !important;
  font-size: 36px !important;
}

.btn {
  border-radius: 50px !important;
  font-weight: 500 !important;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.3s ease-out;
  color: var(--color-primary) !important;
  border: 2px solid var(--color-primary-variant) !important;
  text-decoration: none;
  width: 32% !important;
}

.btn:hover {
  background: var(--color-primary-variant) !important;
  color: #fff !important;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Css for responsive of mediaum devices */
@media screen and (max-width: 991px) {
  #header {
    height: 80vh;
    text-align: center;
    margin: -11rem 0rem;
  }
  #header .header-img {
    text-align: center;
  }

  #header .header-img img {
    width: 100%;
  }
  .btn {
    width: 40% !important;
    margin: 0 auto;
  }
}

/* Css for responsive of small devices */
@media screen and (max-width: 768px) {
  #header {
    margin-top: 20px;
    margin-bottom: -5rem;
  }
  #header h1 {
    font-size: 28px;
  }
  #header h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img {
    width: 70%;
  }
  .btn {
    width: 44% !important;
    margin: 0 auto;
  }
}

/* All css has been finished here */
