@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap");
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #0e0d0d;
  --color-primary-variant: #6c63ff;
}
